@import url(https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,300,400,500,700,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 4.6rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 7.36rem;
}
.display-2 {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 1.5rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.68rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #ffffff !important;
}
.bg-success {
  background-color: #fd94b3 !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #fd94b3 !important;
  border-color: #fd94b3 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #fc497e !important;
  border-color: #fc497e !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #fc497e !important;
  border-color: #fc497e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #cccccc;
  color: #cccccc;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #fb306c;
  color: #fb306c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #fd94b3;
  border-color: #fd94b3;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #fd94b3 !important;
  border-color: #fd94b3 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #ffffff !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #fd94b3 !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #cccccc !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #fb306c !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #8c8c8c;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #ffffff;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #ffffff;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #ffffff;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #ffffff;
}
/* Headers*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ffffff !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff3366 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ffffff' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-rXkYZLcmUX .navbar {
  background: #ffffff;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-rXkYZLcmUX .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-rXkYZLcmUX a {
  font-style: normal;
}
.cid-rXkYZLcmUX .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rXkYZLcmUX .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rXkYZLcmUX .nav-item:focus,
.cid-rXkYZLcmUX .nav-link:focus {
  outline: none;
}
.cid-rXkYZLcmUX .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rXkYZLcmUX .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rXkYZLcmUX .menu-logo {
  margin-right: auto;
}
.cid-rXkYZLcmUX .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rXkYZLcmUX .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rXkYZLcmUX .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rXkYZLcmUX .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rXkYZLcmUX .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rXkYZLcmUX .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rXkYZLcmUX .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rXkYZLcmUX .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-rXkYZLcmUX .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rXkYZLcmUX .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rXkYZLcmUX .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rXkYZLcmUX .dropdown .dropdown-menu {
  background: #ffffff;
  visibility: hidden;
  display: block;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rXkYZLcmUX .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rXkYZLcmUX .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rXkYZLcmUX .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rXkYZLcmUX .dropdown.open > .dropdown-menu {
  visibility: visible;
}
.cid-rXkYZLcmUX .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rXkYZLcmUX .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rXkYZLcmUX .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rXkYZLcmUX .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rXkYZLcmUX .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rXkYZLcmUX .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rXkYZLcmUX .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rXkYZLcmUX button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-rXkYZLcmUX button.navbar-toggler:focus {
  outline: none;
}
.cid-rXkYZLcmUX button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #333333;
}
.cid-rXkYZLcmUX button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rXkYZLcmUX button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rXkYZLcmUX button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rXkYZLcmUX button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rXkYZLcmUX nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rXkYZLcmUX nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rXkYZLcmUX nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rXkYZLcmUX nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rXkYZLcmUX .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rXkYZLcmUX .collapsed .btn {
  display: -webkit-flex;
}
.cid-rXkYZLcmUX .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rXkYZLcmUX .collapsed .navbar-collapse.collapsing,
.cid-rXkYZLcmUX .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rXkYZLcmUX .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rXkYZLcmUX .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rXkYZLcmUX .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rXkYZLcmUX .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rXkYZLcmUX .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-rXkYZLcmUX .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-rXkYZLcmUX .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rXkYZLcmUX .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rXkYZLcmUX .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rXkYZLcmUX .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-rXkYZLcmUX .collapsed button.navbar-toggler {
  display: block;
}
.cid-rXkYZLcmUX .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rXkYZLcmUX .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rXkYZLcmUX .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rXkYZLcmUX .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rXkYZLcmUX .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rXkYZLcmUX .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-rXkYZLcmUX.navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rXkYZLcmUX img {
    height: 3.8rem !important;
  }
  .cid-rXkYZLcmUX .btn {
    display: -webkit-flex;
  }
  .cid-rXkYZLcmUX button.navbar-toggler {
    display: block;
  }
  .cid-rXkYZLcmUX .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rXkYZLcmUX .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rXkYZLcmUX .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rXkYZLcmUX .navbar-collapse.collapsing,
  .cid-rXkYZLcmUX .navbar-collapse.show {
    display: block !important;
  }
  .cid-rXkYZLcmUX .navbar-collapse.collapsing .navbar-nav,
  .cid-rXkYZLcmUX .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rXkYZLcmUX .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rXkYZLcmUX .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rXkYZLcmUX .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-rXkYZLcmUX .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-rXkYZLcmUX .navbar-collapse.collapsing .navbar-buttons,
  .cid-rXkYZLcmUX .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rXkYZLcmUX .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rXkYZLcmUX .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rXkYZLcmUX .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rXkYZLcmUX .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rXkYZLcmUX .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rXkYZLcmUX .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-rXkYZLcmUX .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rXkYZLcmUX .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rXkYZLcmUX .nav-link:hover,
.cid-rXkYZLcmUX .dropdown-item:hover {
  color: #767676 !important;
}
.cid-rXl0sjIfMh {
  padding-top: 90px;
  padding-bottom: 90px;
  background: linear-gradient(45deg, #94e2fc, #fd94b3);
}
@media (min-width: 992px) {
  .cid-rXl0sjIfMh .mbr-figure {
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-rXl0sjIfMh .mbr-figure {
    padding-top: 3rem;
  }
}
.cid-rXl0sjIfMh .mbr-section-title {
  color: #ffffff;
  text-align: right;
}
.cid-rXl0sjIfMh .mbr-text,
.cid-rXl0sjIfMh .mbr-section-btn {
  text-align: right;
}
.cid-rXlvjpznQ6 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f9f9;
}
.cid-rXlvjpznQ6 .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.cid-rXlvjpznQ6 .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #767676;
  font-style: normal;
  font-weight: 500;
  border-radius: 3px;
  border: 1px solid #767676;
  padding: 1rem 3rem;
  margin: 0.4rem .8rem !important;
  transition: all .3s;
}
.cid-rXlvjpznQ6 .nav-tabs .nav-link:hover {
  background-color: #94e2fc;
}
.cid-rXlvjpznQ6 .nav-tabs .nav-link:focus {
  box-shadow: none;
  background-color: #94e2fc;
}
.cid-rXlvjpznQ6 .nav-tabs .nav-link.active {
  font-weight: 500;
  color: #000000;
  font-style: normal;
  border: none;
  background: #94e2fc;
}
.cid-rXlvjpznQ6 .nav-tabs .nav-link.active:hover {
  border: none;
}
.cid-rXlvjpznQ6 .mbr-section-subtitle {
  color: #767676;
}
.cid-rXlvjpznQ6 p {
  color: #767676;
}
.cid-rXlvjpznQ6 .mbr-figure {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding-right: 4rem;
}
.cid-rXlvjpznQ6 .mbr-text {
  word-break: break-word;
}
@media (max-width: 991px) {
  .cid-rXlvjpznQ6 .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 2rem;
  }
}
.cid-rXl4UgB9TI {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rXl4UgB9TI h3 {
  text-align: center;
}
.cid-rXl4UgB9TI .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-rXl4UgB9TI .mbr-content-text {
  color: #767676;
}
.cid-rXl4UgB9TI .panel-item {
  background: #ffffff;
}
.cid-rXl4UgB9TI .card {
  word-wrap: break-word;
}
.cid-rXl4UgB9TI .mbr-iconfont {
  font-size: 80px;
  color: #149dcc;
}
.cid-rXkYZLcmUX .navbar {
  background: #ffffff;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-rXkYZLcmUX .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-rXkYZLcmUX a {
  font-style: normal;
}
.cid-rXkYZLcmUX .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rXkYZLcmUX .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rXkYZLcmUX .nav-item:focus,
.cid-rXkYZLcmUX .nav-link:focus {
  outline: none;
}
.cid-rXkYZLcmUX .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rXkYZLcmUX .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rXkYZLcmUX .menu-logo {
  margin-right: auto;
}
.cid-rXkYZLcmUX .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rXkYZLcmUX .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rXkYZLcmUX .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rXkYZLcmUX .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rXkYZLcmUX .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rXkYZLcmUX .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rXkYZLcmUX .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rXkYZLcmUX .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-rXkYZLcmUX .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rXkYZLcmUX .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rXkYZLcmUX .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rXkYZLcmUX .dropdown .dropdown-menu {
  background: #ffffff;
  visibility: hidden;
  display: block;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rXkYZLcmUX .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rXkYZLcmUX .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rXkYZLcmUX .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rXkYZLcmUX .dropdown.open > .dropdown-menu {
  visibility: visible;
}
.cid-rXkYZLcmUX .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rXkYZLcmUX .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rXkYZLcmUX .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rXkYZLcmUX .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rXkYZLcmUX .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rXkYZLcmUX .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rXkYZLcmUX .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rXkYZLcmUX button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-rXkYZLcmUX button.navbar-toggler:focus {
  outline: none;
}
.cid-rXkYZLcmUX button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #333333;
}
.cid-rXkYZLcmUX button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rXkYZLcmUX button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rXkYZLcmUX button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rXkYZLcmUX button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rXkYZLcmUX nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rXkYZLcmUX nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rXkYZLcmUX nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rXkYZLcmUX nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rXkYZLcmUX .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rXkYZLcmUX .collapsed .btn {
  display: -webkit-flex;
}
.cid-rXkYZLcmUX .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rXkYZLcmUX .collapsed .navbar-collapse.collapsing,
.cid-rXkYZLcmUX .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rXkYZLcmUX .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rXkYZLcmUX .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rXkYZLcmUX .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rXkYZLcmUX .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rXkYZLcmUX .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-rXkYZLcmUX .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-rXkYZLcmUX .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rXkYZLcmUX .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rXkYZLcmUX .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rXkYZLcmUX .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-rXkYZLcmUX .collapsed button.navbar-toggler {
  display: block;
}
.cid-rXkYZLcmUX .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rXkYZLcmUX .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rXkYZLcmUX .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rXkYZLcmUX .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rXkYZLcmUX .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rXkYZLcmUX .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-rXkYZLcmUX.navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rXkYZLcmUX img {
    height: 3.8rem !important;
  }
  .cid-rXkYZLcmUX .btn {
    display: -webkit-flex;
  }
  .cid-rXkYZLcmUX button.navbar-toggler {
    display: block;
  }
  .cid-rXkYZLcmUX .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rXkYZLcmUX .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rXkYZLcmUX .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rXkYZLcmUX .navbar-collapse.collapsing,
  .cid-rXkYZLcmUX .navbar-collapse.show {
    display: block !important;
  }
  .cid-rXkYZLcmUX .navbar-collapse.collapsing .navbar-nav,
  .cid-rXkYZLcmUX .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rXkYZLcmUX .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rXkYZLcmUX .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rXkYZLcmUX .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-rXkYZLcmUX .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-rXkYZLcmUX .navbar-collapse.collapsing .navbar-buttons,
  .cid-rXkYZLcmUX .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rXkYZLcmUX .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rXkYZLcmUX .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rXkYZLcmUX .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rXkYZLcmUX .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rXkYZLcmUX .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rXkYZLcmUX .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-rXkYZLcmUX .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rXkYZLcmUX .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rXkYZLcmUX .nav-link:hover,
.cid-rXkYZLcmUX .dropdown-item:hover {
  color: #767676 !important;
}
.cid-rXYSidquDi {
  padding-top: 90px;
  padding-bottom: 0px;
  background-color: #94e2fc;
}
.cid-rXYSidquDi P {
  color: #767676;
}
.cid-rXYSidquDi H1 {
  text-align: center;
}
.cid-rXZish2k9F {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rXZish2k9F .item {
  padding-bottom: 2rem;
}
.cid-rXZish2k9F .item-wrapper {
  height: 100%;
}
.cid-rXZish2k9F .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-rXZish2k9F .carousel-control,
.cid-rXZish2k9F .close {
  background: #1b1b1b;
}
.cid-rXZish2k9F .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-rXZish2k9F .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-rXZish2k9F .close {
  position: fixed;
  opacity: 0.5;
  font-size: 35px;
  font-weight: 300;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  line-height: 70px;
  border: none;
  text-align: center;
  text-shadow: none;
  z-index: 5;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: 'MobiriseIcons';
}
.cid-rXZish2k9F .close::before {
  content: '\e91a';
}
.cid-rXZish2k9F .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-rXZish2k9F .carousel-control {
  position: fixed;
  width: 70px;
  height: 70px;
  top: 50%;
  margin-top: -35px;
  line-height: 70px;
  border-radius: 50%;
  font-size: 35px;
  border: 0;
  opacity: 0.5;
  text-shadow: none;
  z-index: 5;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.cid-rXZish2k9F .carousel-inner > .active {
  display: block;
}
.cid-rXZish2k9F .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-rXZish2k9F .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-rXZish2k9F .carousel-control .icon-next,
.cid-rXZish2k9F .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 40px;
  line-height: 27px;
}
.cid-rXZish2k9F .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-rXZish2k9F .carousel-control,
  .cid-rXZish2k9F .carousel-indicators,
  .cid-rXZish2k9F .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-rXZish2k9F .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-rXZish2k9F .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-rXZish2k9F .carousel-indicators {
  bottom: 0;
  margin-bottom: 3px;
}
@media (max-width: 991px) {
  .cid-rXZish2k9F .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-rXZish2k9F .carousel-indicators {
    display: none;
  }
}
.cid-rXZish2k9F .carousel-indicators .active,
.cid-rXZish2k9F .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #1b1b1b;
  opacity: 0.5;
  border: 4px solid #1b1b1b;
}
.cid-rXZish2k9F .carousel-indicators .active {
  background: #fff;
}
.cid-rXZish2k9F .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-rXZish2k9F .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-rXZish2k9F .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-rXZish2k9F .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-rXZish2k9F .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-rXZish2k9F .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(98.25vh);
  height: fit-content;
}
.cid-rXZish2k9F .carousel {
  width: 100%;
}
.cid-rXZish2k9F .modal-backdrop.in {
  opacity: 0.8;
}
.cid-rXZish2k9F .modal.fade .modal-dialog {
  -webkit-transition: margin-top 0.3s ease-out;
  -moz-transition: margin-top 0.3s ease-out;
  -o-transition: margin-top 0.3s ease-out;
  transition: margin-top 0.3s ease-out;
}
.cid-rXZish2k9F .modal.fade .modal-dialog,
.cid-rXZish2k9F .modal.in .modal-dialog {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.cid-rXZish2k9F .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-rXZish2k9F a {
  display: block;
}
.cid-rXZish2k9F a.img {
  pointer-events: none;
}
.cid-rXZiCN8I1E {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rXZiCN8I1E .item {
  padding-bottom: 2rem;
}
.cid-rXZiCN8I1E .item-wrapper {
  height: 100%;
}
.cid-rXZiCN8I1E .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-rXZiCN8I1E .carousel-control,
.cid-rXZiCN8I1E .close {
  background: #1b1b1b;
}
.cid-rXZiCN8I1E .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-rXZiCN8I1E .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-rXZiCN8I1E .close {
  position: fixed;
  opacity: 0.5;
  font-size: 35px;
  font-weight: 300;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  line-height: 70px;
  border: none;
  text-align: center;
  text-shadow: none;
  z-index: 5;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: 'MobiriseIcons';
}
.cid-rXZiCN8I1E .close::before {
  content: '\e91a';
}
.cid-rXZiCN8I1E .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-rXZiCN8I1E .carousel-control {
  position: fixed;
  width: 70px;
  height: 70px;
  top: 50%;
  margin-top: -35px;
  line-height: 70px;
  border-radius: 50%;
  font-size: 35px;
  border: 0;
  opacity: 0.5;
  text-shadow: none;
  z-index: 5;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.cid-rXZiCN8I1E .carousel-inner > .active {
  display: block;
}
.cid-rXZiCN8I1E .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-rXZiCN8I1E .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-rXZiCN8I1E .carousel-control .icon-next,
.cid-rXZiCN8I1E .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 40px;
  line-height: 27px;
}
.cid-rXZiCN8I1E .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-rXZiCN8I1E .carousel-control,
  .cid-rXZiCN8I1E .carousel-indicators,
  .cid-rXZiCN8I1E .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-rXZiCN8I1E .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-rXZiCN8I1E .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-rXZiCN8I1E .carousel-indicators {
  bottom: 0;
  margin-bottom: 3px;
}
@media (max-width: 991px) {
  .cid-rXZiCN8I1E .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-rXZiCN8I1E .carousel-indicators {
    display: none;
  }
}
.cid-rXZiCN8I1E .carousel-indicators .active,
.cid-rXZiCN8I1E .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #1b1b1b;
  opacity: 0.5;
  border: 4px solid #1b1b1b;
}
.cid-rXZiCN8I1E .carousel-indicators .active {
  background: #fff;
}
.cid-rXZiCN8I1E .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-rXZiCN8I1E .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-rXZiCN8I1E .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-rXZiCN8I1E .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-rXZiCN8I1E .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-rXZiCN8I1E .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(98.25vh);
  height: fit-content;
}
.cid-rXZiCN8I1E .carousel {
  width: 100%;
}
.cid-rXZiCN8I1E .modal-backdrop.in {
  opacity: 0.8;
}
.cid-rXZiCN8I1E .modal.fade .modal-dialog {
  -webkit-transition: margin-top 0.3s ease-out;
  -moz-transition: margin-top 0.3s ease-out;
  -o-transition: margin-top 0.3s ease-out;
  transition: margin-top 0.3s ease-out;
}
.cid-rXZiCN8I1E .modal.fade .modal-dialog,
.cid-rXZiCN8I1E .modal.in .modal-dialog {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.cid-rXZiCN8I1E .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-rXZiCN8I1E a {
  display: block;
}
.cid-rXZiCN8I1E a.img {
  pointer-events: none;
}
.cid-rXZj2TeYdM {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rXZj2TeYdM .item {
  padding-bottom: 2rem;
}
.cid-rXZj2TeYdM .item-wrapper {
  height: 100%;
}
.cid-rXZj2TeYdM .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-rXZj2TeYdM .carousel-control,
.cid-rXZj2TeYdM .close {
  background: #1b1b1b;
}
.cid-rXZj2TeYdM .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-rXZj2TeYdM .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-rXZj2TeYdM .close {
  position: fixed;
  opacity: 0.5;
  font-size: 35px;
  font-weight: 300;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  line-height: 70px;
  border: none;
  text-align: center;
  text-shadow: none;
  z-index: 5;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: 'MobiriseIcons';
}
.cid-rXZj2TeYdM .close::before {
  content: '\e91a';
}
.cid-rXZj2TeYdM .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-rXZj2TeYdM .carousel-control {
  position: fixed;
  width: 70px;
  height: 70px;
  top: 50%;
  margin-top: -35px;
  line-height: 70px;
  border-radius: 50%;
  font-size: 35px;
  border: 0;
  opacity: 0.5;
  text-shadow: none;
  z-index: 5;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.cid-rXZj2TeYdM .carousel-inner > .active {
  display: block;
}
.cid-rXZj2TeYdM .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-rXZj2TeYdM .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-rXZj2TeYdM .carousel-control .icon-next,
.cid-rXZj2TeYdM .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 40px;
  line-height: 27px;
}
.cid-rXZj2TeYdM .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-rXZj2TeYdM .carousel-control,
  .cid-rXZj2TeYdM .carousel-indicators,
  .cid-rXZj2TeYdM .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-rXZj2TeYdM .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-rXZj2TeYdM .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-rXZj2TeYdM .carousel-indicators {
  bottom: 0;
  margin-bottom: 3px;
}
@media (max-width: 991px) {
  .cid-rXZj2TeYdM .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-rXZj2TeYdM .carousel-indicators {
    display: none;
  }
}
.cid-rXZj2TeYdM .carousel-indicators .active,
.cid-rXZj2TeYdM .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #1b1b1b;
  opacity: 0.5;
  border: 4px solid #1b1b1b;
}
.cid-rXZj2TeYdM .carousel-indicators .active {
  background: #fff;
}
.cid-rXZj2TeYdM .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-rXZj2TeYdM .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-rXZj2TeYdM .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-rXZj2TeYdM .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-rXZj2TeYdM .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-rXZj2TeYdM .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(98.25vh);
  height: fit-content;
}
.cid-rXZj2TeYdM .carousel {
  width: 100%;
}
.cid-rXZj2TeYdM .modal-backdrop.in {
  opacity: 0.8;
}
.cid-rXZj2TeYdM .modal.fade .modal-dialog {
  -webkit-transition: margin-top 0.3s ease-out;
  -moz-transition: margin-top 0.3s ease-out;
  -o-transition: margin-top 0.3s ease-out;
  transition: margin-top 0.3s ease-out;
}
.cid-rXZj2TeYdM .modal.fade .modal-dialog,
.cid-rXZj2TeYdM .modal.in .modal-dialog {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.cid-rXZj2TeYdM .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-rXZj2TeYdM a {
  display: block;
}
.cid-rXZj2TeYdM a.img {
  pointer-events: none;
}
.cid-rXZnWSf7Zi {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}
.cid-rXZnWSf7Zi .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-rXZnWSf7Zi .video-block {
    width: 100% !important;
  }
}
.cid-s49wP3WLbL {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}
.cid-s49wP3WLbL .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-s49wP3WLbL .video-block {
    width: 100% !important;
  }
}
.cid-s2lbnrbKCn {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}
.cid-s2lbnrbKCn .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-s2lbnrbKCn .video-block {
    width: 100% !important;
  }
}
.cid-s2l2PLFWGN {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}
.cid-s2l2PLFWGN .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-s2l2PLFWGN .video-block {
    width: 100% !important;
  }
}
.cid-rXZDUAIcm9 {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}
.cid-rXZDUAIcm9 .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-rXZDUAIcm9 .video-block {
    width: 100% !important;
  }
}
